*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: medium;
}

body {
    background-color: rgb(216, 216, 12);
    
}

.all{
    margin: 2% 30%;
    padding: 6% 12%;
    background-color: white;
}
.titulo > h1{
    font-size: 27px;
    margin: 6%;
}


div >label{
    display: block;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
div > input{
    border: 2px solid black;

}


.submit{
    margin: 10%;
    border-radius: 5%;
    border: 2px solid black;
    font-weight: 700;
    font-size: 24px;
}


