<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Serviço</title>
</head>
<body>
    <div class="anunciarPost">
    <form action="submit">
        <h5>Serviço</h5>
        <input type="text" name="" id="" placeholder="Nome do serviço" required>
        <h4>Horário do serviço?</h4>
        <h5>Das</h5>
        <input type="time"  placeholder="Horário do serviço">
        <h5>Até</h5>
        <input type="time"  placeholder="Horário do serviço">
        <h5>Dias do serviço</h5>
        <input type="week" placeholder="">
        <h5>Tipo de serviço?</h5>
        <select name="" id="" required>
            <option value="">Agricultura</option>
            <option value="">Bovinocultura</option>
            <option value="">Suinocultura</option>
            <option value="">Avicultura</option>
            <option value="">Ovinocultura</option>
            <option value="">Caprinocultura</option>
            <option value="">Equinocultura</option>
            <option value="">Pscicultura</option>
            <option value="">Apicultura</option>
        </select>
        <h5>Pedido ou anuncio?</h5>
        <input type="radio" id="pedidoP" name="fav_language" value="HTML" required>
        <label for="pedidoP">Pedido</label><br>
        <input type="radio" id="anuncioP" name="fav_language" value="CSS" required>
        <label for="anuncioP">Anuncio</label><br>
        <h5>Arquivo de referência</h5>
        <br>
        <input type="file" placeholder="anexo aqui">
        <br><br>
        <h5>Preço</h5>
        <input type="number" name="" id="" placeholder="Preço" required>
        <br>
        <input class="botaoAnuncio" type="submit" value="Postar">


    </form>
    </div>
</body>
</html>