<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço</title>
</head>
<body>
    <h1>nome do Serviço postado</h1>
    <img src="" alt="productImage">
    <table id="productDetails_techSpec_section_1" class="a-keyvalue prodDetTable" role="presentation"><tr><th class="a-color-secondary a-size-base prodDetSectionEntry"> Serviço </th>   <td class="a-size-base prodDetAttrValue">
        &lrm;Apicultura de mel pequena </td>  </tr>    <tr>  <th class="a-color-secondary a-size-base prodDetSectionEntry"> Fabricante </th>   
            <td class="a-size-base prodDetAttrValue">
        &lrm;Brinox-Coza BR </td>
      </tr>    <tr>  <th class="a-color-secondary a-size-base prodDetSectionEntry"> Horario de Inicio </th>   <td class="a-size-base prodDetAttrValue">
        &lrm;08:00</td>  </tr>    <tr>  <th class="a-color-secondary a-size-base prodDetSectionEntry"> Horario Final </th>   <td class="a-size-base prodDetAttrValue">
        &lrm;12:00 </td>  </tr>    <tr>  <th class="a-color-secondary a-size-base prodDetSectionEntry"> Tipo de anuncio </th>   <td class="a-size-base prodDetAttrValue">
        &lrm;Pedido </td>  </tr>     <tr>  <th class="a-color-secondary a-size-base prodDetSectionEntry"> Características especiais </th>   <td class="a-size-base prodDetAttrValue">
        &lrm;Levar Equipamentos especiais </td>  </tr>     <tr>  <th class="a-color-secondary a-size-base prodDetSectionEntry"> Preço </th>   <td class="a-size-base prodDetAttrValue">
        &lrm;R$50/Hora </td>  <tr>  <th class="a-color-secondary a-size-base prodDetSectionEntry"> Dias da semana </th>   <td class="a-size-base prodDetAttrValue">
        &lrm;SEG/TER/QUA/QUI/SEX/SAB </td>  </tr>    <tr>  <th class="a-color-secondary a-size-base prodDetSectionEntry"> Categoria </th>   <td class="a-size-base prodDetAttrValue">
        &lrm;Apicultura </td> </tr> </table>
</body>
</html>